body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239c9c9d' fill-opacity='0.15'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.myBox{
    /* border: 2px solid rgb(221, 221, 221); */
    border-radius: 3px;
}

.myContainer{
    padding: 1px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 25%;
}
.images{
    padding: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
}
.imageItem{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rigthPanel{
    display:grid;
    grid-template-columns: 100%;
    justify-content: space-around;
    max-height: 100vh;
    overflow: auto;
}
.deslizadores{
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.controls{
    border: 1px solid rgb(228, 228, 228);
    overflow: auto;
    max-height: 100%;
}
.controllerItem{
    padding: 2px;
    text-align: center;
}

.histogram{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

canvas{
    width: 100%;
}

.uploadDownload{
    border: 1px solid rgb(202, 202, 202);
    margin-top: 2px;
    background-color:rgb(235, 235, 235);
    border-radius: 5px;
}
p{
    padding:0;
    margin: 0;
    display: inline;
}
.creadits{
    text-align: center;
    color: gray;
    align-self: center;
}
a{
    text-decoration: none;
}
.values{
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
    padding: 0 2px 0 2px;
}

.accordionMatrixInput{
    display: flex;
    gap: 10px;
    align-items: center;
    overflow: auto;
}
.matrixFactor{
    width: 40px;
    height: 28px;
}
#inputMatrixGroup{
    display: grid;
    grid-gap: 5px;
} 
.inputMatrix{
    width: 40px;
}

.inputMatrix::-webkit-outer-spin-button,
.inputMatrix::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
.matrixFactor::-webkit-outer-spin-button,
.matrixFactor::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}